.storage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .storage__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        background-color: #f2f2f2;
        .storage__header__title{
            font-size: 24px;
            font-weight: bold;
        }
        .storage__header__button{
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            background-color: #646cff;
            color: white;
            font-weight: bold;
            transition: background-color 0.25s;
            &:hover{
                background-color: #535bf2;
            }
        }
    }
    .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        width: 98%;
    }
}