.page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    z-index: 99;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: rgb(104, 101, 101);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.registration {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.registration input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registration button {
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.registration button:hover {
    background-color: #0d8bf2;
}

.regImg{
    position: absolute;
    z-index: 200;
    max-width: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #207e29;
}

